extends layout

block content
  h1.text-center.mb-3.pt-5 検索
  div.d-flex.justify-content-center
    form(action="/search").form-inline
      label.sr-only keyword
      input(type="search" name="q").form-control
      button(type="submit").btn.btn-primary.ml-1 search